.layout {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('@/assets/img/background.webp'), linear-gradient(135deg, #ffdde1, #ee9ca7);
  background-blend-mode: soft-light;
  background-size: cover;
  background-position: center;
}
