.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  animation: fadeIn 1.5s ease-in-out;
  z-index: 20;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
}

.input {
  width: 80%;
  max-width: 300px;
  margin-bottom: 20px;
  animation: fadeInUp 1.5s ease-in-out 0.3s forwards;
  opacity: 0;
}

.button {
  background-color: #e91e63;
  border: none;
  color: white;
  font-size: 1.1rem;
  padding: 10px 20px;
  border-radius: 8px;
  transition:
    background 0.3s ease-in-out,
    transform 0.2s ease;
  font-family: 'Marck Script', cursive;
}

.button:hover {
  background-color: #d81b60;
  transform: scale(1.05);
}

.button:active {
  transform: scale(0.95);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
